* {
  box-sizing: border-box;
}

/* within body, sets background color and font.*/
body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;

/* Centers Website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}
